<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>some error occured!</h1>
    <p>check for any input inconsistency and forms!</p>

<%- include('includes/end.ejs') %>